@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
}

.pimage1 {
    background-image: url('./assets/image1.png');
    min-height: 100vh;
}

.pimage2 {
    background-image: url('./assets/image2.png');
    min-height: 100vh;
}

.pimage3 {
    background-image: url('./assets/image3.png');
    min-height: 100vh;
}

.pimage1,
.pimage2,
.pimage3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 54px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #fff;
}

.textBg_solid {
    background-color: rgba(48, 54, 52, 1.0);
}

.textBg_transparent {
    background-color: rgba(48, 54, 52, 0.5);
}

.text {
    padding: 50px 80px;
    text-align: center;
}

.text_bg_light {
    background-color: #f4f4f4;
    color: #666;
}

.text_bg_dark {
    background-color: #666;
    color: #f4f4f4;
}

.title {
    font-size: 60px;
}

p {
    font-size: 20px;
    letter-spacing: 0.5px;
}